@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald:wght@700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

header {
    background-color: #2E323F;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 22px;
    display:flex;
    justify-content:center;
}

.container {
    width: 85%;
    max-width: 90%;
    margin: 0 auto;
    padding: 2em 0;
}

.logo-section {
    display:flex;
    justify-content:center;
    margin-bottom: 0.5em;
}

.navbar {
    display:flex;
    flex-direction: column;
    margin-bottom: 0.5em;
}

.nav__left {
    margin: 0.215em;
}
.nav__link {
    color:white;
    text-decoration: none;
}

.nav__left-list,
.nav__right-list {
    display:flex;
    margin: 0 0.5em;
    align-items: center;
    justify-content: center;
}

.nav__right-list {
    flex-direction: column;
}

.nav__item {
    list-style-type: none;
    margin: 0 0.5em;
}

.nav__right-list .nav__item {
    margin-top: 0.5em;
}

.btn-color {
    background-color: #A59678;
    border-radius: 100px;
    padding: 0.2em 0.5em;
    color:white;
}

.btn-color:hover {
    opacity: 0.7;
}

.hero {
    background-color: #3B4050;
    color: white;
}

.hero-container {
    display:flex;
    flex-direction: column;
    gap: 1em;
}

.hero-left {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
}

.hero-title span {
    color: #A59678;
}

.btn-container{
    display: flex;
    justify-content: center;
}

.hero-description {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    margin-bottom: 1.5em;
}

.hero-btn {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    text-decoration: none;
    font-size: 24px;
    padding: 0.2em 1.5em;
    text-transform: uppercase;
}

.characteristics {
    background-color: #f1f1f1;
}

.characts-container {
    display: flex;
    flex-direction: column;
    place-content: center;
    gap: 1em;
}

/*.characts-container article {
    
}*/
.c-title {
    font-family: 'Oswald', sans-serif;
    color: #A59678;
    margin-bottom: 0.5em;
    font-size: 1.875rem;
    text-align: center;
}

.c-description {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.125rem;
    text-align: center;
}

.c-description, .pb-aside p {
    line-height: 1.50em;
}

.pd-title {
    font-family: 'Oswald', sans-serif;
    font-size: 2.5em;
    color: #A59678;
    margin-bottom: 0.5em;
}

.pd-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.125rem;
    margin-bottom: 1.0em;
}

.perk-description img {
    margin-bottom: 1.5em;
}

.perk-breakdown {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.pb-aside {
    background-color: #3B4050;
    color: white;
    border: 1px solid red;
    padding: 2em;
}

.pb-aside h3 {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 2.25rem;
    margin-bottom: 0.5em;
}

.pb-aside p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.125rem;
    text-align: center;
    width: 65%;
    margin: 0 auto 1.25em;
}